<section class="container">
  <div class="form-wrapper">
    <h2 class="form-title">Cadastro de cliente</h2>

    <form [formGroup]="form" (ngSubmit)="salvar()" class="formulario">
      <mat-card class="form-card">
        <mat-card-content>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput formControlName="cpf_cnpj" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput type="date" formControlName="dataNascimento" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>

          <mat-divider class="form-divider"></mat-divider>
          
          <h3 class="section-title">Endereço</h3>

          <div formGroupName="endereco">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>CEP</mat-label>
              <input matInput formControlName="cep" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Logradouro</mat-label>
              <input matInput formControlName="logradouro" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Número</mat-label>
              <input matInput formControlName="numero" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Bairro</mat-label>
              <input matInput formControlName="bairro" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Cidade</mat-label>
              <input matInput formControlName="cidade" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="estado" />
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions class="action-container">
          <button mat-raised-button color="primary" type="submit">Continuar cadastro</button>
          <button mat-button color="warn" type="button" routerLink="/clientes">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</section>
